<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>imageBucketDemo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css">
</head>
 
<body>
    <!-- Header-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="images/">View Stored Images</a>
        </div>

        </div>
    </nav>

    <!-- Container -->


    <div class="jumbotron">
      <h1>What is it ?</h1>
      <p>You, user upload image, it gets stored via Kinto using Redis on the server and then url is generated to be used anywhere. More features are in the pipeline.</p>
      <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Upload Image</button>
            </div>
          </div>
    </div>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

 
</body>
 
</html>
